<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="meishiqiang">
    <title>404</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-reset.css" rel="stylesheet">
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet"/>
</head>

<body class="body-404">
<div class="container">
    <section class="error-wrapper">
        <i class="icon-404"></i>
        <h1>404</h1>
        <h2>网页未找到</h2>
        <p class="page-404">出现问题或该页面尚不存在。 <a href="index.html">返回</a>
        </p>
    </section>
</div>
</body>
</html>
