<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="meishiqiang">
    <link rel="shortcut icon" href="/img/favicon.png">
    <title>招聘详情页面</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <!--right slidebar-->
    <link href="/css/slidebars.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<section id="container" class="">
    <!--头部 start-->
    <header class="header white-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="index.html" class="logo">NEW<span>STAR</span></a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
            <ul class="nav top-menu">
                <!-- settings start -->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-tasks"></i>
                        <span class="badge bg-success">6</span>
                    </a>
                    <ul class="dropdown-menu extended tasks-bar">
                        <div class="notify-arrow notify-arrow-green"></div>
                        <li>
                            <p class="green">You have 6 pending tasks</p>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info">
                                    <div class="desc">Dashboard v1.3</div>
                                    <div class="percent">40%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info">
                                    <div class="desc">Database Update</div>
                                    <div class="percent">60%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info">
                                    <div class="desc">Iphone Development</div>
                                    <div class="percent">87%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 87%">
                                        <span class="sr-only">87% Complete</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info">
                                    <div class="desc">Mobile App</div>
                                    <div class="percent">33%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 33%">
                                        <span class="sr-only">33% Complete (danger)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info">
                                    <div class="desc">Dashboard v1.3</div>
                                    <div class="percent">45%</div>
                                </div>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 45%">
                                        <span class="sr-only">45% Complete</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="external">
                            <a href="#">See All Tasks</a>
                        </li>
                    </ul>
                </li>
                <!-- settings end -->
                <!-- inbox dropdown start-->
                <li id="header_inbox_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-important">5</span>
                    </a>
                    <ul class="dropdown-menu extended inbox">
                        <div class="notify-arrow notify-arrow-red"></div>
                        <li>
                            <p class="red">You have 5 new messages</p>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img alt="avatar" src="/img/avatar-mini.jpg"></span>
                                <span class="subject">
                                    <span class="from">Jonathan Smith</span>
                                    <span class="time">Just now</span>
                                    </span>
                                <span class="message">
                                        Hello, this is an example msg.
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img alt="avatar" src="/img/avatar-mini2.jpg"></span>
                                <span class="subject">
                                    <span class="from">Jhon Doe</span>
                                    <span class="time">10 mins</span>
                                    </span>
                                <span class="message">
                                     Hi, Jhon Doe Bhai how are you ?
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img alt="avatar" src="/img/avatar-mini3.jpg"></span>
                                <span class="subject">
                                    <span class="from">Jason Stathum</span>
                                    <span class="time">3 hrs</span>
                                    </span>
                                <span class="message">
                                        This is awesome dashboard.
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img alt="avatar" src="/img/avatar-mini4.jpg"></span>
                                <span class="subject">
                                    <span class="from">Jondi Rose</span>
                                    <span class="time">Just now</span>
                                    </span>
                                <span class="message">
                                        Hello, this is metrolab
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">See all messages</a>
                        </li>
                    </ul>
                </li>
                <!-- inbox dropdown end -->
                <!-- notification dropdown start-->
                <li id="header_notification_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                        <i class="fa fa-bell-o"></i>
                        <span class="badge bg-warning">7</span>
                    </a>
                    <ul class="dropdown-menu extended notification">
                        <div class="notify-arrow notify-arrow-yellow"></div>
                        <li>
                            <p class="yellow">You have 7 new notifications</p>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                Server #3 overloaded.
                                <span class="small italic">34 mins</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-warning"><i class="fa fa-bell"></i></span>
                                Server #10 not respoding.
                                <span class="small italic">1 Hours</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                Database overloaded 24%.
                                <span class="small italic">4 hrs</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-success"><i class="fa fa-plus"></i></span>
                                New user registered.
                                <span class="small italic">Just now</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-info"><i class="fa fa-bullhorn"></i></span>
                                Application error.
                                <span class="small italic">10 mins</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">See all notifications</a>
                        </li>
                    </ul>
                </li>
                <!-- notification dropdown end -->
            </ul>
            <!--  notification end -->
        </div>
        <div class="top-nav ">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <li>
                    <input type="text" class="form-control search" placeholder="Search">
                </li>
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="/img/avatar1_small.jpg">
                        <span class="username">Jhon Doue</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                        <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                        <li><a href="#"><i class="fa fa-bell-o"></i> Notification</a></li>
                        <li><a href="login.html"><i class="fa fa-key"></i> Log Out</a></li>
                    </ul>
                </li>
                <li class="sb-toggle-right">
                    <i class="fa  fa-align-right"></i>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <!--头部 end-->
    <!--侧边栏 start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- 侧边栏菜单 start-->
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a href="index.html" th:href="'/index'">
                        <i class="fa fa-university"></i>
                        <span>新星</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" class="active">
                        <i class="fa fa-laptop"></i>
                        <span>招聘中心</span>
                    </a>
                    <ul class="sub">
                        <li><a th:href="@{/manage/recruit/pull?erId=1}">发布招聘</a></li>
                        <li><a th:href="@{/manage/recruit/getRecruitManage?param=1}">招聘管理</a></li>
                        <li><a th:href="@{/manage/recruit/getRecruitManages}">所有招聘</a></li>
                        <li class="active"><a href="#">招聘详情</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>用户中心</span>
                    </a>
                    <ul class="sub">
                        <li><a th:href="@{/manage/consumer/visit}">显示</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>通告中心</span>
                    </a>
                    <ul class="sub">
                        <li><a th:href="@{/manage/pullAnnouncement/1.html}">发布通告</a></li>
                        <li><a th:href="@{/manage/announcement/1.html}">通告管理</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-glass"></i>
                        <span>Extra</span>
                    </a>
                    <ul class="sub">
                        <li><a href="blank.html">Blank Page</a></li>
                        <li><a href="fb_wall.html">FB Wall</a></li>
                        <li><a href="404.html">404 Error</a></li>
                        <li><a href="500.html">500 Error</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
    <!--侧边栏 -->
    <!--主体内容-->
    <section id="main-content">
        <section class="wrapper site-min-height">
            <section class="panel">
                <header class="panel-heading">
                    <th:block th:text="${data.title}"></th:block>
                    <span class="pull-right">
                          <a th:href="'/manage/recruit/getRecruitInfo/'+${data.id}" type="button" id="loading-btn" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> 刷新</a>
                    </span>
                </header>
            </section>
            <div class="row">
                <!--中间主题内容 start-->
                <div class="col-md-8">
                    <section class="panel">
                        <div class="bio-graph-heading project-heading">
                            <strong> 招聘详细信息-页 </strong>
                        </div>
                        <div class="panel-body bio-graph-info">
                            <!--<h1>New Dashboard BS3 </h1>-->
                            <div class="row p-details">
                                <div class="bio-row">
                                    <p><span class="bold">发布者 </span>: <span th:text="${data.authorEr}"> 梅士强</span></p>
                                </div>

                                <div class="bio-row">
                                    <th:block th:if="${data.types == null}">
                                        <p><span class="bold">类型 </span>: <span
                                                class="label label-primary label-block">类型</span></p>
                                    </th:block>
                                    <th:block th:if="${data.types !=null}">
                                        <p><span class="bold">类型 </span>:
                                            <span th:each="type:${data.types}"
                                                  th:text="${type}"
                                                  class="label label-primary label-block"></span></p>
                                    </th:block>
                                </div>

                                <div class="bio-row">
                                    <p><span class="bold">创建时间 </span>: <span
                                            th:text="${data.startDate}"></span></p>
                                </div>
                                <div class="bio-row">
                                    <p><span class="bold">结束时间</span>: <span
                                            th:text="${data.endDate}"></span></p>
                                </div>
                                <div class="bio-row">
                                    <p><span class="bold">人数 </span>: <span
                                            th:text="${data.number}"></span></p>
                                </div>

                                <div class="bio-row">
                                    <p><span class="bold">工作经验 </span>: <span
                                            th:text="${data.experience}"></span></p>
                                </div>


                                <div class="bio-row">
                                    <p><span class="bold">地址 </span>: <span
                                            th:text="${data.place}"></span></p>
                                </div>

                                <div class="col-lg-12">
                                    <dl class="dl-horizontal mtop20 p-progress">
                                        <dt>完成度:</dt>
                                        <dd>
                                            <div class="progress progress-striped active ">
                                                <div style="width: 80%;"
                                                     th:style="'width:'+${data.degreeCompletion}+'%'"
                                                     class="progress-bar progress-bar-success"></div>
                                            </div>
                                            <small>招聘已经进行 <strong>
                                                <th:block th:text="${data.degreeCompletion}"></th:block>
                                                %</strong>. </small>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="panel">
                        <header class="panel-heading">
                            应聘者 信息
                        </header>
                        <div class="panel-body">
                            <table class="table table-hover p-table">
                                <thead>
                                <tr>
                                    <th>应聘者</th>
                                    <th>投递时间</th>
                                    <th>年龄</th>
                                    <th>个人简介</th>
                                    <th>投递状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:if="${data.recruitAndConsumerDOS!=null}"
                                          th:each="rc,star:${data.recruitAndConsumerDOS}">

                                        <tr> <!--data-toggle="modal" th:attrappend="data-target=${'#'+rc.consumerId}"-->
                                            <td>
                                                <th:block th:text="${rc.consumerName}"></th:block>
                                            </td>
                                            <td>
                                                <th:block th:text="${rc.consuemrToudiDate}"></th:block>
                                            </td>
                                            <td>
                                                <th:block th:text="${rc.consumerAge}"></th:block>
                                            </td>
                                            <td>
                                                <th:block th:text="${rc.consuemrResume}"></th:block>
                                            </td>
                                            <td>
                                                <span class="label label-info" th:text="${rc.toudiStatus=='0'?'在审核':'已通过'}">Completed</span>
                                            </td>
                                            <td>
                                                <a th:href="'/manage/recruit/resume/download/'+${rc.consumerId}+'/'+${rc.recruitId}">下载</a>
                                                <a th:href="'/manage/recruit/resume/look'+${rc.consumerId}+'/'+${rc.recruitId}">查看</a>
                                            </td>
                                        </tr>

                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
                <!--中间主题内容 end-->
                <!--右侧边栏内容 start-->
                <div class="col-md-4">
                    <section class="panel">
                        <header class="panel-heading">
                            <h3><strong>招聘详细要求</strong></h3>
                        </header>
                        <div class="panel-body">
                            <a href="#"><img src="/img/XINXING.png" alt="新星幼儿园"/></a>

                            <h4><b>职责描述</b></h4>
                            <p th:utext="${data.responsibility}"></p>
                            <br/>
                            <h4><b>职位要求</b></h4>
                            <p th:utext="${data.require}"></p>
                            <br/>
                            <br/>

                            <h5 class="bold">标签</h5>
                            <ul class="p-tag-list">
                                <th:block th:if="${data.types !=null}">
                                    <li th:each="type:${data.types}"><a href=""><i class="fa fa-tag"></i>
                                        <th:block th:text="${type}"></th:block>
                                    </a></li>
                                </th:block>
                            </ul>

                            <div class="text-center mtop20">
                                <a th:href="'/manage/recruit/pull?erId=1'" class="btn btn-sm btn-primary">发布招聘</a>
                                <a th:href="'/manage/recruit/modify/page/'+ ${data.id}" class="btn btn-sm btn-warning">更改招聘</a>
                            </div>
                        </div>

                    </section>
                </div>
                <!--右侧边栏内容 end-->
            </div>
        </section>
    </section>
    <!--主体内容-->

    <!--模态框-->
    <!--<th:block th:if="${data.recruitAndConsumerDOS!=null}" th:each="rc,star:${data.recruitAndConsumerDOS}">
        &lt;!&ndash; 模态框（Modal） &ndash;&gt;
        <div class="modal fade" th:id="${rc.consumerId}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <b>&times;</b>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            简历名称
                        </h4>
                    </div>
                    <div class="modal-body">
                        简历内容
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            yes
                        </button>
                        <button type="button" class="btn btn-primary">
                            no
                        </button>
                    </div>
                </div>&lt;!&ndash; /.modal-content &ndash;&gt;
            </div>&lt;!&ndash; /.modal &ndash;&gt;
        </div>
    </th:block>-->
    <!--模态框-->

    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            2021 &copy; FlatLab by VectorLab.
            <a href="#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/slidebars.min.js"></script>
<script src="/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="/js/respond.min.js"></script>

<!--common script for all pages-->
<script src="/js/common-scripts.js"></script>

</body>
</html>