<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nursery.dao.NurseryAnnouncefMapper">
    <resultMap id="announceMap" type="com.nursery.beans.NurseryAnnounceDO">
        <id column="ANNOUNCEID" jdbcType="VARCHAR" property="id"/>
        <result column="ANNOUNCETABLE" property="table" jdbcType="VARCHAR"/><!--公告标题-->
        <result column="ANNOUNCETDATE" property="date" jdbcType="VARCHAR"/><!--发布时间-->
        <result column="ANNOUNCETAUTHOR" property="author" jdbcType="VARCHAR"/><!--作者-->
        <result column="ANNOUNCETCOMPILER" property="etcompiler" jdbcType="VARCHAR"/><!--编辑者-->
        <result column="ANNOUNCETTIME" property="time" jdbcType="INTEGER"/><!--次数-->
        <result column="ANNOUNCETSIZE" property="size" jdbcType="VARCHAR"/><!--大小-->
        <result column="ANNOUNCETPATH" property="path" jdbcType="VARCHAR"/><!--路径-->
        <result column="ANNOUNCEIMG" property="imgPath" jdbcType="VARCHAR"/><!--图片路径-->
        <result column="ANNOUNCCONTENT" property="content" jdbcType="VARCHAR"/><!--缩率内容-->
    </resultMap>
    <resultMap id="announceMap2" type="com.nursery.beans.NurseryAnnounceDO">
        <id column="ANNOUNCEID" jdbcType="VARCHAR" property="id"/>
        <result column="ANNOUNCETABLE" property="table" jdbcType="VARCHAR"/><!--公告标题-->
        <result column="ANNOUNCETDATE" property="date" jdbcType="VARCHAR"/><!--发布时间-->
        <result column="ANNOUNCETAUTHOR" property="author" jdbcType="VARCHAR"/><!--作者-->
        <result column="ANNOUNCETCOMPILER" property="etcompiler" jdbcType="VARCHAR"/><!--编辑者-->
        <result column="ANNOUNCETTIME" property="time" jdbcType="INTEGER"/><!--次数-->
        <result column="ANNOUNCETSIZE" property="size" jdbcType="VARCHAR"/><!--大小-->
        <result column="ANNOUNCETPATH" property="path" jdbcType="VARCHAR"/><!--路径-->
        <result column="ANNOUNCEIMG" property="imgPath" jdbcType="VARCHAR"/><!--图片路径-->
        <result column="ANNOUNCCONTENT" property="content" jdbcType="VARCHAR"/><!--缩率内容-->
        <association property="announceDetailDO" column="ANNOUNCEID" javaType="com.nursery.beans.NurseryAnnounceDetailDO">
            <result column="title" property="title" jdbcType="VARCHAR"/><!--公告标题-->
            <result column="content" property="bigContent" jdbcType="VARCHAR"/><!--文本内容-->
        </association>
    </resultMap>
    <select id="announceeList" resultMap="announceMap" parameterType="com.nursery.beans.DBDataParam" useCache="true">
        SELECT *
        FROM ${table_flag}
        ORDER BY ANNOUNCEID DESC
    </select>
    <select id="selectAnnounceByNewDate" resultMap="announceMap">
        SELECT *
        FROM tb_announce_202101 b
        WHERE b.`ANNOUNCETDATE` = (SELECT MAX(a.`ANNOUNCETDATE`) FROM tb_announce_202101 a);
    </select>

    <select id="selectAnnounceBytime" resultMap="announceMap">
        SELECT *
        FROM tb_announce_202101 b
        WHERE b.`ANNOUNCETTIME` = (SELECT MAX(a.`ANNOUNCETTIME`) FROM tb_announce_202101 a);
    </select>
    <select id="selectRecommendAnnounce" resultMap="announceMap" parameterType="integer">
        SELECT *
        FROM `tb_announce_202101`
        WHERE ANNOUNCEID >= (SELECT FLOOR(RAND() * (SELECT MAX(ANNOUNCEID) FROM `tb_announce_202101`)))
        ORDER BY ANNOUNCEID LIMIT #{value}
    </select>
    <select id="selectAnnounceByNewDates" resultMap="announceMap">
        SELECT * FROM `tb_announce_202101`  ORDER BY ANNOUNCETDATE DESC
    </select>
    <select id="selectAnnounceBytimes" resultMap="announceMap">
        SELECT * FROM `tb_announce_202101`  ORDER BY ANNOUNCETTIME DESC
    </select>
    <select id="selectAnnounces" resultMap="announceMap">
        select * from `tb_announce_202101`;
    </select>
    <select id="selectAnnounceById" resultMap="announceMap2">
        SELECT a.*,b.* FROM tb_announce_202101 a , tb_announce_details b WHERE a.`ANNOUNCEID`=b.`id`=#{value};
    </select>

    <insert id="insert" parameterType="com.nursery.beans.NurseryAnnounceDO">
        INSERT INTO ${tableflag} (ANNOUNCETABLE,
                                  ANNOUNCETDATE,
                                  ANNOUNCETAUTHOR,
                                  ANNOUNCETCOMPILER,
                                  ANNOUNCETTIME,
                                  ANNOUNCETSIZE,
                                  ANNOUNCETPATH)
        values (#{table}, #{date}, #{author}, #{etcompiler}, #{time}, #{size}, #{path})
    </insert>

    <update id="update" parameterType="com.nursery.beans.NurseryAnnounceDO">

    </update>

    <delete id="delete" parameterType="com.nursery.beans.NurseryAnnounceDO">

    </delete>
</mapper>