<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nursery.dao.NurseryRecruitmentMapper">
    <resultMap id="recruitment" type="com.nursery.beans.RecruitmentDO">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="recruittablename" property="recruittablename" jdbcType="VARCHAR"/>
        <result column="recruitclassify" property="classify" jdbcType="VARCHAR"/>
        <result column="recruitpay" property="pay" jdbcType="VARCHAR"/>
        <result column="recruitstarttime" property="starttime" jdbcType="VARCHAR"/>
        <result column="recruitendtime" property="endtime" jdbcType="VARCHAR"/>
        <result column="recruitplace" property="place" jdbcType="VARCHAR"/>
        <result column="recruitrequire_experience" property="requireExperience" jdbcType="VARCHAR"/>
        <result column="recruitrequire_edubg" property="requireEduDB" jdbcType="VARCHAR"/>
        <result column="recruitnumbers" property="manNumbers"
                jdbcType="INTEGER"/> <!--Mybatis的JdbcType全是大写，而且没有INT，只有INTEGER-->
        <result column="companyresume" property="companyresume" jdbcType="VARCHAR"/>
        <result column="jobdesciption" property="jobdesciption" jdbcType="VARCHAR"/>
        <result column="responsibility" property="responsibility" jdbcType="VARCHAR"/><!--职位描述-->
        <result column="require" property="require" jdbcType="VARCHAR"/><!--职位要求-->
        <result column="treatment" property="treatment" jdbcType="VARCHAR"/><!--职位待遇-->
        <result column="applynum" property="applynum" jdbcType="INTEGER"/><!--报名人数-->
        <result column="cutoff" property="cutoff" javaType="string"/><!--报名是否过期（yes,no)-->
        <result column="enrollFull" property="enrollFull" javaType="string"/><!--报名人数已满（yes,no)-->
        <result column="authorId" property="authorId" javaType="string"/><!--招聘发布人员id-->
    </resultMap>

    <sql id="recruitsql">
        id
        ,recruittablename,recruitclassify,recruitclassify,recruitpay,recruitstarttime,recruitendtime,
        recruitplace,recruitrequire_experience,recruitrequire_edubg,recruitnumbers,companyresume,jobdesciption
    </sql>

    <select id="selectByclassify" resultMap="recruitment" parameterType="string">
        SELECT *
        FROM tb_nursery_recruitinfo
        WHERE recruitclassify = #{classify}
    </select>

    <select id="selectByrecruittablename" resultMap="recruitment" parameterType="string">
        SELECT *
        FROM tb_nursery_recruitinfo
        WHERE recruittablename = #{recruittablename}
    </select>


    <select id="selectRecruitmentDOsByRecruiterID" resultMap="recruitment" parameterType="string">
        SELECT *
        FROM tb_nursery_recruitinfo
        WHERE id IN (SELECT infoid FROM tb_middle_recruiter_info WHERE RECRUITERID = #{recruiterID})
    </select>

    <select id="selectRecruitmentDOs" resultMap="recruitment">
        SELECT *
        FROM tb_nursery_recruitinfo
    </select>

    <select id="selectByclassAndName" resultMap="recruitment" parameterType="com.nursery.beans.DBDataParam">
        SELECT
        id,recruittablename,recruitclassify,recruitpay,recruitstarttime,recruitendtime,recruitplace,recruitrequire_experience,recruitrequire_edubg,recruitnumbers
        FROM tb_nursery_recruitinfo WHERE 1 = 1
        <if test="param1 != null and param1 != ''">
            AND recruitclassify = #{param1}
        </if>
        <if test="param2 != null and param2 != ''">
            AND recruittablename like #{param2}
        </if>
    </select>

    <select id="selectRecruitInfoByrecruitid" resultMap="recruitment">
        SELECT *
        FROM tb_nursery_recruitinfo
        WHERE id = #{id}
    </select>


    <select id="randomSelectRecruit" resultMap="recruitment">
        SELECT *
        FROM `tb_nursery_recruitinfo` AS t1
                 JOIN (
            SELECT ROUND(
                                   RAND() * (
                                           (SELECT MAX(id) FROM `tb_nursery_recruitinfo`) -
                                           (SELECT MIN(id) FROM `tb_nursery_recruitinfo`)
                                   ) + (SELECT MIN(id) FROM `tb_nursery_recruitinfo`)
                       ) AS id
        ) AS t2
        WHERE t1.id >= t2.id
        ORDER BY t1.id LIMIT 12;
    </select>
    <select id="selectRecruitinfoByType" resultMap="recruitment">
        SELECT *
        FROM tb_nursery_recruitinfo
        WHERE recruitclassify like #{value}
    </select>
    <select id="selectRecruitByNewDateAndDesc" resultMap="recruitment">
        SELECT *
        FROM tb_nursery_recruitinfo
        ORDER BY tb_nursery_recruitinfo.`recruitstarttime` DESC LIMIT 12
    </select>

    <insert id="insert" parameterType="com.nursery.beans.RecruitmentDO">
        insert into tb_nursery_recruitinfo (id, recruittablename, recruitclassify, recruitpay, recruitstarttime,
                                            recruitendtime,
                                            recruitplace, recruitrequire_experience, recruitrequire_edubg,
                                            recruitnumbers,
                                            companyresume, jobdesciption)
        values (#{id}, #{recruittablename}, #{classify}, #{pay}, #{starttime}, #{endtime}, #{place},
                #{requireExperience},
                #{requireEduDB}, #{manNumbers}, #{companyresume}, #{jobdesciption});
    </insert>
    <insert id="insertRecruitInfo" parameterType="com.nursery.beans.RecruitmentDO">
        insert into `tb_nursery_recruitinfo`
        (`id`, `recruittablename`, `recruitclassify`, `recruitpay`, `recruitstarttime`, `recruitendtime`,
         `recruitplace`, `recruitrequire_experience`, `recruitrequire_edubg`, `recruitnumbers`, `companyresume`,
         `jobdesciption`, `responsibility`, `require`, `treatment`, `applynum`, `cutoff`, `enrollFull`, `authorId`)
        values (#{id}, #{recruittablename}, #{classify}, #{pay}, #{starttime}, #{endtime}, #{place},
                #{requireExperience}, #{requireEduDB}, #{manNumbers}, #{companyresume}, #{jobdesciption},
                #{responsibility}, #{require}, #{treatment}, #{applynum}, #{cutoff}, #{enrollFull}, #{authorId});


    </insert>
    <insert id="insertRecruitMeddleEr" parameterType="com.nursery.beans.RecruitmentDO">
        INSERT INTO `tb_middle_recruiter_info` (RECRUITERID, INFOID, DATE)
        VALUES (#{authorId}, #{id}, #{starttime});
    </insert>

    <delete id="delete" parameterType="string">
        DELETE
        from tb_nursery_recruitinfo
        where id = #{id}
    </delete>
    <delete id="deleteRecruitById">
        DELETE
        from tb_nursery_recruitinfo
        where id = #{id}
    </delete>

    <update id="updateRecruitInfo" parameterType="com.nursery.beans.RecruitmentDO">
        update tb_nursery_recruitinfo
        set recruittablename          = #{recruittablename},
            recruitclassify           = #{classify},
            recruitpay                = #{pay},
            recruitendtime            = #{endtime},
            recruitplace              = #{place},
            recruitrequire_experience = #{requireExperience},
            recruitrequire_edubg      = #{requireEduDB},
            recruitnumbers            = #{manNumbers},
            companyresume             = #{companyresume},
            jobdesciption             = #{jobdesciption}
        WHERE id = #{id}
    </update>

</mapper>