<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="发现">
    <meta name="author" content="meishiqiang">
    <link rel="shortcut icon" href="/img/ico/favicon32.ico" th:href="@{/img/ico/favicon32.ico}">
    <title>发现</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-reset.css" rel="stylesheet">
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap-fileupload/bootstrap-fileupload.css"/>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet"/>
</head>
<body>
<section id="container" class="">
    <!--头部-->
    <header class="">
        <!--导航栏-->
        <div class="navbar navbar-inverse navbar-fixed-top bg-discover1">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-sm" href="http://www.bootcss.com">新星幼儿园</a>
                </div>
                <div class="navbar-collapse collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a th:href="'/index'" target="_blank">首页</a></li>
                        <li><a th:href="'/job_detail'" target="_blank">职位</a></li>
                        <li class="discover1-active"><a th:href="'/discover'" target="_blank">发现</a></li>
                        <li><a th:href="'/information'" target="_blank">咨询</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right hidden-sm">
                        <li><a href="/about/">简历</a></li>
                        <li><a href="/about/">上传</a></li>
                        <li><a th:href="'/consumer/personal/1'">个人中心</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--头部-->

    <!--正文-->
    <section>
        <section>
            <!--头部标题-->
            <div class="row">
                <div class="bg-success">
                    <div class="bs-docs-header">
                        <div class="container text-center">
                            <h3>新星幼儿园-新闻发现和跟踪</h3>
                            <p>New Star Kindergarten - News Discovery and Tracking</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--faxian-content-->
            <div class="container">
                <div class="row faxian-content">
                    <div class="col-md-9">
                        <!--/*@thymesVar id="topic" type="com.nursery.beans.HotTopicDO"*/-->
                        <div class="faxian-item" th:each="topic,star:${data}">
                            <div class="faxian-item-header" th:id="${topic.authorId}">
                                <img class="header-img"
                                     src="https://img.bosszhipin.com/beijin/upload/avatar/20201223/bcad5b10df6fc6011080e01473e559219e8464193ee4e7857ba3fa53894d1194_s.jpg">
                                <p class="author" th:text="${topic.author}">作者</p>
                                <p class="introduce" th:text="${topic.introduce}">作者介绍</p>
                            </div>
                            <div class="faxian-item-content" th:utext="${topic.content}">
                                内容展示
                            </div>
                            <div class="faxian-item-time">发布于：<span th:text="${topic.startDate}">发布时间</span></div>
                            <div class="faxian-item-link">
                                <a href="/huati/61b9ca05bbce3695s3V9.html"
                                   target="_blank" title="与面试官沟通的技巧"
                                   class="topic-link">#<span th:text="${topic.tag}">标签内容</span></a>
                                <div class="faxian-answer">
                                    <div class="like-wrap">
                                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                                                th:attrappend="data-target=${'#' + topic.id}" aria-expanded="false">
                                            回答
                                        </button>
                                    </div>
                                    <div class="get-wrap">
                                        <a class="btn btn-primary" th:href="'/discover/wenti/'+${topic.id}">
                                            所有回答
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="collapse" th:id="${topic.id}">
                                    <div class="">
                                        <div class="input-group">
                                            <input type="text" class="form-control" th:id="${'input'+topic.id}">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"
                                                        th:onclick="publish([[${topic.id}]]);">发表</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 side-border">
                        <div>
                            <div class="side-section">
                                <div class="section-header">
                                    <div class="title">同行正在看</div>
                                    <a class="handle-btn">
                                        <i class="fa fa-undo"></i>
                                        <span>换一换</span>
                                    </a>
                                </div>
                                <div class="section-list">
                                    <p class="list-item"><i class="fa fa-undo"></i>互联网常识测试题</p>
                                    <p class="list-item"><i class="fa fa-undo"></i>互联网常识测试题</p>
                                    <p class="list-item"><i class="fa fa-undo"></i>互联网常识测试题</p>
                                    <p class="list-item"><i class="fa fa-undo"></i>互联网常识测试题</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 side-border">
                        <div>
                            <div class="side-section">
                                <div class="section-header">
                                    <div class="title">同行正在看</div>
                                    <a class="handle-btn">
                                        <i class="fa fa-undo"></i>
                                        <span>换一换</span>
                                    </a>
                                </div>
                                <div class="section-list">
                                    <p class="list-item"><i class="fa fa-undo"></i>互联网常识测试题</p>
                                    <p class="list-item"><i class="fa fa-undo"></i>互联网常识测试题</p>
                                    <p class="list-item"><i class="fa fa-undo"></i>互联网常识测试题</p>
                                    <p class="list-item"><i class="fa fa-undo"></i>互联网常识测试题</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 side-border">
                        <div>
                            <div class="side-section">
                                <div class="section-header">
                                    <div class="title">同行正在看</div>
                                    <a class="handle-btn">
                                        <i class="fa fa-undo"></i>
                                        <span>换一换</span>
                                    </a>
                                </div>
                                <div class="section-list">
                                    <p class="list-item"><i class="fa fa-undo"></i>互联网常识测试题</p>
                                    <p class="list-item"><i class="fa fa-undo"></i>互联网常识测试题</p>
                                    <p class="list-item"><i class="fa fa-undo"></i>互联网常识测试题</p>
                                    <p class="list-item"><i class="fa fa-undo"></i>互联网常识测试题</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--faxian-content-->
        </section>

    </section>
    <!--正文-->
    <!--页脚-->
    <footer class="site-footer">
        <div class="text-center">
            2013 &copy; FlatLab by VectorLab.
            <a href="#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--页脚-->
</section>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="/assets/jquery-knob/js/jquery.knob.js"></script>
<script src="/js/respond.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap-fileupload/bootstrap-fileupload.js"></script>
<script src="/js/slidebars.min.js"></script>
<script src="/js/common-scripts.js"></script>
<script>
    function publish(tableid) {
        var content = $("#"+"input"+tableid).val();
        window.href.location = "/wenti/"+tableid+'/'+content;
    }
</script>
</body>
</html>
