<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="发现">
    <meta name="author" content="meishiqiang">
    <link rel="shortcut icon" href="/img/ico/favicon32.ico" th:href="@{/img/ico/favicon32.ico}">
    <title>发现</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-reset.css" rel="stylesheet">
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap-fileupload/bootstrap-fileupload.css"/>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet"/>
</head>
<style>
    body {
        background: #f9f9f9;
    }

    h1, h2, h3, h4, h5, b, strong {
        color: black;
    }

    #container {
        font-family: "楷体", "楷体_GB2312";
    }

    .navbar-inverse {
        background-color: #8a0c0c;;
        border-bottom: 1px solid #8a0c0c;;
        border-color: #8a0c0c;;
        font-weight: 400;
    }

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: #4c1414;
    }

    .btn-default {
        background-color: #596167;
    }

    .new_job_b b {
        font-size: 16px;
    }

    .new_job_b li a {
        margin-top: -0;
        text-shadow: 1px 1px 1px black;
    }

    .site-footer {
        background: black;
        padding: 30px 0;
    }

    .new-out img {
        width: 85%;
        height: 60px;
    }

    .new-out h2 {
        margin-top: 0;
        padding: 0;
    }

    .new-out h2 span {
        border-right: 3px solid #436849;
        padding-right: 10px;
    }

    .new-out p {
        padding-right: 20px;
    }

</style>
<body>
<section id="container" class="">
    <th:block th:if="${param.error != null}">
        <script>
            if (confirm("参数信息不正确,请先登录!!")) {
                window.location.href = '/login';
            } else {
                window.location.href = '/discover';
            }
        </script>
    </th:block>
    <!--头部-->
    <header class="">
        <!--导航栏-->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <th:block th:if="${param.number != null}">
                <span th:text="${param.number}" hidden></span>
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand hidden-sm" th:href="'/index?number='+${param.number}">新星幼儿园</a>
                    </div>
                    <div class="navbar-collapse collapse" role="navigation">
                        <ul class="nav navbar-nav">
                            <li><a href="/index" th:href="'/index?number='+${param.number}">首页</a></li>
                            <li><a href="/job_detail" th:href="'/job_detail?number='+${param.number}">职位</a></li>
                            <li class="active"><a href="/discover" th:href="'/discover?number='+${param.number}">发现</a>
                            </li>
                            <li><a href="/information" th:href="'/information?number='+${param.number}">咨询</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right hidden-sm">
                            <li><a href="/resume">简历</a></li>
                            <span th:text="${param.number}" hidden></span>
                            <li><a href="/consumer/personal/1" th:href="'/logout/'+${param.number}">退出</a></li>
                            <li><a href="/consumer/personal/1"
                                   th:href="'/consumer/personal/'+${param.number}">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i><span></span>:个人中心
                            </a></li>
                        </ul>
                    </div>
                </div>
            </th:block>
            <th:block th:if="${param.number == null}">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand hidden-sm" th:href="'/index'">新星幼儿园</a>
                    </div>
                    <div class="navbar-collapse collapse" role="navigation">
                        <ul class="nav navbar-nav">
                            <li><a href="/index" th:href="'/index'">首页</a></li>
                            <li><a href="/job_detail" th:href="'/job_detail'">职位</a></li>
                            <li class="active"><a href="/discover" th:href="'/discover'">发现</a></li>
                            <li><a href="/information" th:href="'/information'">咨询</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right hidden-sm">
                            <li><a href="/resume">简历</a></li>
                            <li><a th:href="'/login.html'">用户！请登录</a></li>
                            <li><a th:href="'/register.html'">快捷注册</a></li>
                        </ul>
                    </div>
                </div>
            </th:block>
        </div>
    </header>
    <!--头部-->

    <!--正文-->
    <section>
        <section>
            <!--头部标题-->
            <div class="row">
                <div class="bg-success">
                    <div class="bs-docs-header">
                        <div class="container text-center">
                            <h3>新星幼儿园-新闻发现和跟踪</h3>
                            <p>New Star Kindergarten - News Discovery and Tracking</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 36px;"></div>
            <!--faxian-content-->
            <div class="container">
                <div class="row faxian-content">
                    <div class="col-md-9">
                        <!--/*@thymesVar id="topic" type="com.nursery.beans.HotTopicDO"*/-->
                        <div class="faxian-item" th:each="topic,star:${data}">
                            <div class="faxian-item-header" th:id="${topic.authorId}">
                                <img class="header-img"
                                     src="https://img.bosszhipin.com/beijin/upload/avatar/20201223/bcad5b10df6fc6011080e01473e559219e8464193ee4e7857ba3fa53894d1194_s.jpg">
                                <p class="author" th:text="${topic.author}">作者</p>
                                <p class="introduce" th:text="${topic.introduce}">作者介绍</p>
                            </div>
                            <div class="faxian-item-content" th:utext="${topic.content}">
                                内容展示
                            </div>
                            <div class="faxian-item-time">发布于：<span th:text="${topic.startDate}">发布时间</span></div>
                            <div class="faxian-item-link">
                                <a href="/huati/61b9ca05bbce3695s3V9.html"
                                   target="_blank" title="与面试官沟通的技巧"
                                   class="topic-link">#<span th:text="${topic.tag}">标签内容</span></a>
                                <div class="faxian-answer">
                                    <div class="like-wrap">

                                        <th:block th:if="${param.number!=null}">
                                            <!--用户已经登录-->
                                            <button class="btn btn-primary" type="button" data-toggle="collapse"
                                                    th:attrappend="data-target=${'#' + topic.id}" aria-expanded="false"
                                                    th:onclick="answer([[${param.number}]]);">
                                                回答
                                            </button>
                                        </th:block>
                                        <th:block th:unless="${param.number!=null}">
                                            <!--用户还未登录-->
                                            <button class="btn btn-primary" type="button" data-toggle="modal"
                                                    data-target="#loginModal">
                                                回答
                                            </button>
                                        </th:block>
                                    </div>
                                    <div class="get-wrap">
                                        <a class="btn btn-primary" th:href="'/discover/wenti/'+${topic.id}">
                                            所有回答
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="collapse" th:id="${topic.id}">
                                    <div class="">
                                        <div class="input-group">
                                            <input type="text" class="form-control" th:id="${'input'+topic.id}">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"
                                                        th:onclick="publish([[${topic.id}]]);">发表</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 side-border">
                        <div>
                            <div class="side-section">
                                <div class="section-header">
                                    <div class="title">同行正在看</div>
                                    <a class="handle-btn">
                                        <i class="fa fa-undo"></i>
                                        <span>换一换</span>
                                    </a>
                                </div>
                                <div class="section-list">
                                    <p class="list-item"><i class="fa fa-undo"></i>互联网常识测试题</p>
                                    <p class="list-item"><i class="fa fa-undo"></i>互联网常识测试题</p>
                                    <p class="list-item"><i class="fa fa-undo"></i>互联网常识测试题</p>
                                    <p class="list-item"><i class="fa fa-undo"></i>互联网常识测试题</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 side-border">
                        <div>
                            <div class="side-section">
                                <div class="section-header">
                                    <div class="title">同行正在看</div>
                                    <a class="handle-btn">
                                        <i class="fa fa-undo"></i>
                                        <span>换一换</span>
                                    </a>
                                </div>
                                <div class="section-list">
                                    <p class="list-item"><i class="fa fa-undo"></i>互联网常识测试题</p>
                                    <p class="list-item"><i class="fa fa-undo"></i>互联网常识测试题</p>
                                    <p class="list-item"><i class="fa fa-undo"></i>互联网常识测试题</p>
                                    <p class="list-item"><i class="fa fa-undo"></i>互联网常识测试题</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 side-border">
                        <div>
                            <div class="side-section">
                                <div class="section-header">
                                    <div class="title">同行正在看</div>
                                    <a class="handle-btn">
                                        <i class="fa fa-undo"></i>
                                        <span>换一换</span>
                                    </a>
                                </div>
                                <div class="section-list">
                                    <p class="list-item"><i class="fa fa-undo"></i>互联网常识测试题</p>
                                    <p class="list-item"><i class="fa fa-undo"></i>互联网常识测试题</p>
                                    <p class="list-item"><i class="fa fa-undo"></i>互联网常识测试题</p>
                                    <p class="list-item"><i class="fa fa-undo"></i>互联网常识测试题</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--faxian-content-->
        </section>

    </section>
    <!--正文-->
    <!--登录模态框-->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        快捷 登录
                    </h4>
                </div>
                <div class="modal-body">
                    <strong>您还没有登录，请先登录后发表品论哦！！</strong>
                    <hr/>
                    <div>
                        <form class="form-horizontal" method="post" id="loginForm">
                            <div class="form-group">
                                <label for="username" class="col-sm-2 control-label">手机号/邮箱</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="username" placeholder="手机号/邮箱">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-2 control-label">密码</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="password" placeholder="密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> 记住我
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="alert alert-warning alert-dismissible" role="alert" id="loginWarn" hidden="hidden">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>错误信息!</strong> 密码或者手机号/邮箱错误!!
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">登录</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--页脚-->
    <footer class="site-footer">
        <div class="text-center">
            2013 &copy; FlatLab by VectorLab.
            <a href="#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--页脚-->
</section>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="/assets/jquery-knob/js/jquery.knob.js"></script>
<script src="/js/respond.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap-fileupload/bootstrap-fileupload.js"></script>
<script src="/js/slidebars.min.js"></script>
<script src="/js/common-scripts.js"></script>
<script>
    var todayDate = new Date();
    var year = todayDate.getFullYear();
    var date = todayDate.getDate() + "";
    if (date.length == 1) {
        date = "0" + date;
    }
    var month = todayDate.getMonth() + 1 + "";
    if (month.length == 1) {
        month = "0" + month;
    }
    var hour = todayDate.getHours() + "";
    if (hour.length == 1) {
        hour = "0" + hour;
    }
    var mininutes = todayDate.getMinutes() + "";
    if (mininutes.length == 1) {
        mininutes = "0" + mininutes;
    }
    var seconds = todayDate.getSeconds() + "";
    if (seconds.length == 1) {
        seconds = "0" + seconds;
    }
    var ran = Math.round((Math.random()) * 10000);
    var liushui = "" + year + "" + month + "" + date + "" + hour + "" + mininutes + "" + seconds + "" + ran;

    /**
     * @param tableId  标题id
     */
    function publish(tableId) {
        var content = $("#" + "input" + tableId).val();
        window.href.location = "/wenti/" + tableId + '/' + content;
    }

    /**
     * 提交登录表单
     */
    $("#loginForm").submit(function () {
        var username = $("#username").val();
        var password = $("#password").val();
        var params = "yhu=" + username + "&pass=" + password + "&liushui=" + liushui;
        $.post("/consumer/login", params, function (data) {
            var message =  data.message;
            var code = data.code;
            var success = data.success;
            if (message=="操作成功！" || code == 10000 || success == true) {
                window.location.href = message+"?number="+liushui;
            } else {
                $("#loginWarn").removeAttr("hidden")
            }
        });
    });
</script>
</body>
</html>
