<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="新星幼儿园-招聘网站首页">
    <meta name="author" content="meishiqiang">
    <meta name="keyword" content="幼儿园，招聘，招聘网，新星，首页">
    <link rel="shortcut icon" href="/img/favicon.png">
    <title>新星幼儿园-招聘网</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-reset.css" rel="stylesheet">
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="/css/yamm.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet"/>
</head>

<body class="mega-nav">
<section id="container">
    <!--头部-->
    <header class="">
        <!--导航栏-->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-sm" href="http://www.bootcss.com">新星幼儿园</a>
                </div>
                <div class="navbar-collapse collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        <li class="active"><a th:href="'/index'" target="_blank">首页</a></li>
                        <li><a th:href="'/job_detail'" target="_blank">职位</a></li>
                        <li><a th:href="'/discover'" target="_blank">发现</a></li>
                        <li><a th:href="'/information'" target="_blank">咨询</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right hidden-sm">
                        <li><a th:href="'/resume'">简历</a></li>
                        <li><a th:href="'/consumer/personal/1'">个人中心</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--搜索框-->
        <div class="row inner search-inner">
            <div class="col-md-12">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default btn-lg dropdown-toggle " data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">职位类型 <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">教师</a></li>
                            <li><a href="#">职工</a></li>
                            <li><a href="#">门卫</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">院长</a></li>
                        </ul>
                    </div><!-- /btn-group -->
                    <input type="text" class="form-control input-lg" placeholder="搜索职位"
                           aria-describedby="sizing-addon1">
                    <span class="input-group-btn">
                        <button class="btn btn-success btn-lg" type="button">搜索框</button>
                    </span>
                </div>
            </div>
        </div>
        <!--热门职位-->
        <div class="row inner">
            <div class="navbar navbar-inner btn-group">
                <ol class="breadcrumb" style="background-color: rgba(0,0,0,0)">
                    <b>热门职位 : &nbsp;&nbsp;&nbsp;&nbsp;</b>

                    <li th:if="${sordStr!=null}" th:each="str: ${sordStr}"><a href="#" th:text="${str}"></a></li>
                    <th:block th:unless="${sordStr!=null}">
                        <li><a href="#">音乐</a></li>
                        <li><a href="#">舞蹈</a></li>
                        <li><a href="#">门卫</a></li>
                        <li><a href="#">后台管理员</a></li>
                        <li><a href="#">院长</a></li>
                        <li><a href="#">院长</a></li>
                    </th:block>
                    <li>......</li>
                </ol>
            </div>
        </div>
        <!--分类导航-->
        <div class="row">

        </div>
    </header>
    <!--头部-->

    <!--正文-->
    <section>
        <section>
            <!--职位推荐-->
            <div class="row position">
                <div class="col-md-8 col-md-offset-2">
                    <div class="text-center bold"><h3 class="box-title">职位推荐</h3></div>
                    <div class="jumbotron position-body">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active"><a href="#home" data-toggle="tab">推荐职位</a></li>
                            <li><a href="#new_job" data-toggle="tab" onclick="newJob()">最新职位</a></li>
                        </ul>
                    </div>
                    <div class="jumbotron position-body position-bg">
                        <div id="myTabContent" class="tab-content">
                            <!--推荐职位-->
                            <div class="tab-pane fade in active" id="home">
                                <div>
                                    <div class="row">
                                        <th:block th:if="${recommendData!=null}" th:each="date:${recommendData}"
                                                  th:object="${date}">
                                            <div class="col-sm-6 col-md-4">
                                                <div class="position-thumbnail">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <a class="title" th:href="'/job_detail/'+*{id}+'.html'"><p th:text="*{recruittablename}">数学老师</p></a>
                                                            <span th:text="*{requireEduDB}">大专</span>
                                                        </div>
                                                        <div class="col-md-4 col-md-offset-2">
                                                            <p th:text="*{pay}">4k-6k.13薪资</p>
                                                        </div>
                                                    </div>
                                                    <hr/>
                                                    <p th:text="*{place}">郑州市高新区祝福红城校区</p>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                            <!--最新职位-->
                            <div class="tab-pane fade" id="new_job">
                                <div class="row">
                                    <th:block th:fragment="new_job" th:each="date:${newData}" th:object="${date}">
                                        <div class="col-sm-6 col-md-4">
                                            <div class="position-thumbnail">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <a class="title" th:href="*{'/recruit/detail/'+id+'.html'}"><p th:text="*{recruittablename}">数学老师</p></a>
                                                        <span th:text="*{requireEduDB}">大专</span>
                                                    </div>
                                                    <div class="col-md-4 col-md-offset-2">
                                                        <p th:text="*{pay}">4k-6k.13薪资</p>
                                                    </div>
                                                </div>
                                                <hr/>
                                                <p th:text="*{place}">郑州市高新区祝福红城校区</p>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center bold"><h4><a type="button" class="btn btn-primary"
                                                             href="#">&nbsp;查看更多&nbsp;</a></h4></div>
                    </div>
                </div>
            </div>
            <!--热招职位-->
            <div class="row position">
                <div class="col-md-8 col-md-offset-2">
                    <div class="text-center bold"><h3 class="box-title">热招职位</h3></div>
                    <div class="jumbotron position-body">
                        <ul id="hotjob" class="nav nav-tabs">
                            <th:block th:if="${classStr!=null}" th:each="str,star:${classStr}" th:object="${str}">
                                <li th:if="${star.index==0}" th:classappend="active"><a th:href="'#'+*{type_id}"
                                                                                        data-toggle="tab"
                                                                                        th:text="*{type_name}"></a></li>
                                <li th:unless="${star.index==0}"><a th:href="'#'+*{type_id}" data-toggle="tab"
                                                                    th:text="*{type_name}"
                                                                    th:onclick="hotJob([[${str.type_id}]],[[${str.type_name}]]);"></a>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                    <div class="jumbotron position-body position-bg">
                        <div id="hotContent" class="tab-content">
                            <th:block th:if="${classStr!=null}" th:each="str,star:${classStr}" th:object="${str}">
                                <div class="tab-pane fade in" th:if="${star.index==0}" th:classappend="active"
                                     th:id="*{type_id}">
                                    <div>
                                        <div class="row">
                                            <th:block th:if="${hotData!=null}" th:each="date:${hotData}"
                                                      th:object="${date}">
                                                <div class="col-sm-6 col-md-4">
                                                    <div class="position-thumbnail">
                                                        <div class="row">
                                                            <div class="col-md-5">
                                                                <a class="title" th:href="'/job_detail/'+*{id}+'.html'"><p th:text="*{recruittablename}">数学老师</p></a>
                                                                <span th:text="*{requireEduDB}">大专</span>
                                                            </div>
                                                            <div class="col-md-4 col-md-offset-2">
                                                                <p th:text="*{pay}">4k-6k.13薪资</p>
                                                            </div>
                                                        </div>
                                                        <hr/>
                                                        <p th:text="*{place}">郑州市高新区祝福红城校区</p>
                                                    </div>
                                                </div>
                                            </th:block>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade " th:unless="${star.index==0}" th:id="*{type_id}">

                                </div>
                            </th:block>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center bold"><h4><a type="button" class="btn btn-primary"
                                                             href="#">&nbsp;查看更多&nbsp;</a></h4></div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!--正文-->
    <!--页脚-->
    <footer class="site-footer">
        <div class="text-center">
            2021 &copy; 新星幼儿园招聘网站-新乡学院.
            <a href="#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--页脚-->
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/index.js"></script>
<script>
    $(document).on('click', '.yamm .dropdown-menu', function (e) {
        e.stopPropagation()
    })
</script>
</body>
</html>
