<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="资讯（公告信息）">
    <meta name="author" content="meishiqiang">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="/img/ico/favicon32.ico" th:href="@{/img/ico/favicon32.ico}">
    <title>资讯</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-reset.css" rel="stylesheet">
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap-fileupload/bootstrap-fileupload.css"/>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet"/>
</head>
<style>
    .site-footer{
        background:black;
        padding:30px 0;
    }
</style>
<body>
<section id="container" class="">
    <!--头部-->
    <header class="">
        <!--导航栏-->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <th:block th:if="${param.number != null}">
                <span th:text="${param.number}" hidden></span>
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand hidden-sm" th:href="'/index?number='+${param.number}">新星幼儿园</a>
                    </div>
                    <div class="navbar-collapse collapse" role="navigation">
                        <ul class="nav navbar-nav">
                            <li><a href="/index" th:href="'/index?number='+${param.number}">首页</a></li>
                            <li><a href="/job_detail" th:href="'/job_detail?number='+${param.number}">职位</a></li>
                            <li><a href="/discover" th:href="'/discover?number='+${param.number}">发现</a></li>
                            <li class="active"><a href="/information" th:href="'/information?number='+${param.number}">咨询</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right hidden-sm">
                            <li><a href="/resume">简历</a></li>
                            <span th:text="${param.number}" hidden></span>
                            <li><a href="/consumer/personal/1" th:href="'/logout/'+${param.number}">退出</a></li>
                            <li><a href="/consumer/personal/1"
                                   th:href="'/consumer/personal/'+${param.number}">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i><span></span>:个人中心
                            </a></li>
                        </ul>
                    </div>
                </div>
            </th:block>
            <th:block th:if="${param.number == null}">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand hidden-sm" th:href="'/index'">新星幼儿园</a>
                    </div>
                    <div class="navbar-collapse collapse" role="navigation">
                        <ul class="nav navbar-nav">
                            <li><a href="/index" th:href="'/index'">首页</a></li>
                            <li><a href="/job_detail" th:href="'/job_detail'">职位</a></li>
                            <li><a href="/discover" th:href="'/discover'">发现</a></li>
                            <li class="active"><a href="/information" th:href="'/information'">咨询</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right hidden-sm">
                            <li><a href="/resume">简历</a></li>
                            <li><a th:href="'/login.html'">用户！请登录</a></li>
                            <li><a th:href="'/register.html'">快捷注册</a></li>
                        </ul>
                    </div>
                </div>
            </th:block>
        </div>
    </header>
    <!--头部-->

    <!--正文-->
    <section>
        <section>
            <!--头部标题-->
            <div class="row">
                <div class="bg-success">
                    <div class="bs-detail-header" id="content">
                        <div class="container text-center">
                            <h3>新星幼儿园-新闻发现和跟踪</h3>
                            <p>New Star Kindergarten - News Discovery and Tracking</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <!--公告标题-->
                <div class="row notice" th:if="${nhrData!=null}">
                    <th:block th:each="data,star:${nhrData}" th:object="${data}">
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail notice-box">
                                <th:block th:if="${star.index==0}">
                                    <div class="notice-new">
                                        <span class="title">最新新闻</span>
                                        <button class="button" id="btn_new_more" type="button">-更多-</button>
                                    </div>
                                </th:block>
                                <th:block th:if="${star.index==1}">
                                    <div class="notice-new">
                                        <span class="title">最热新闻</span>
                                        <button class="button" id="btn_hot_more" type="button">-更多-</button>
                                    </div>
                                </th:block>
                                <th:block th:if="${star.index==2}">
                                    <div class="notice-new">
                                        <span class="title">内容推荐</span>
                                        <button class="button" id="btn_recommend_more" type="button">-更多-</button>
                                    </div>
                                </th:block>
                                <th:block th:if="*{imgPath!=null}">
                                    <img class="image" th:src="*{imgPath}" alt="...">
                                </th:block>
                                <th:block th:unless="*{imgPath!=null}">
                                    <img class="image"
                                         src="https://img.bosszhipin.com/beijin/article/cover/20190131/5b35710c800420cab9086d2471805712c6407cb7c39ed9df81ce65de750288b8_s.jpg"
                                         alt="...">
                                </th:block>
                                <div class="notice-bottom">
                                    <p th:text="*{table}">拿不到年终奖就跳槽？80后或成最硬核职场人 | 2018年终奖调查</p>
                                    <p class="btn-detail">-&nbsp;<a th:href="*{path}" class="hover">点击详情</a>&nbsp;-</p>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
                <!--公告标题-->
                <!--公告内容-->
                <!--information 页面-->
                <div class="row notice-content notice-body" th:if="${announces!=null}">
                    <div class="notice-block">
                        <th:block th:each="data,star:${announces}" th:object="${data}">
                            <div class="notice-items">
                                <th:block th:if="*{imgPath!=null}">
                                    <img class="image" th:src="*{imgPath}" alt="...">
                                </th:block>
                                <th:block th:unless="*{imgPath!=null}">
                                    <img class="image"
                                         src="https://img.bosszhipin.com/beijin/article/cover/20190131/5b35710c800420cab9086d2471805712c6407cb7c39ed9df81ce65de750288b8_s.jpg"
                                         alt="...">
                                </th:block>
                                <div class="notice-bottom">
                                    <h3><a th:text="*{table}" th:href="*{path}">标题</a></h3>
                                    <p class="text-info" th:text="${#strings.abbreviate(data.content,300)}">内容</p>
                                    <p class="btn-detail"><span th:text="*{author}">作者</span>·<span th:text="*{date}">发布时间</span>
                                    </p>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div>
                        <button id="btn_liulang" class="notice-btn">浏览更多</button>
                    </div>
                </div>
                <!--information 页面结束-->
                <!--information newdate/hottime 页面-->
                <div class="row notice-content notice-body" th:if="${pageInfo!=null}">
                    <div class="notice-block" id="notice-body">
                        <th:block th:each="data,star:${pageInfo.list}" th:object="${data}">
                            <div class="notice-items">
                                <th:block th:if="*{imgPath!=null}">
                                    <img class="image" th:src="*{imgPath}" alt="...">
                                </th:block>
                                <th:block th:unless="*{imgPath!=null}">
                                    <img class="image"
                                         src="https://img.bosszhipin.com/beijin/article/cover/20190131/5b35710c800420cab9086d2471805712c6407cb7c39ed9df81ce65de750288b8_s.jpg"
                                         alt="...">
                                </th:block>
                                <div class="notice-bottom">
                                    <h3><a th:text="*{table}" th:href="*{path}" class="hover">标题</a></h3>
                                    <p class="text-info" th:text="*{content}">内容</p>
                                    <p class="btn-detail"><span th:text="*{author}">作者</span>·<span th:text="*{date}">发布时间</span>
                                    </p>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div>
                        <button id="btn_liulang_more" class="notice-btn btn-info">浏览更多</button>
                    </div>
                </div>
                <!--information newdate/hottime 页面结束-->
                <!--公告内容-->
            </div>
        </section>

    </section>
    <!--正文-->
    <!--页脚-->
    <footer class="site-footer">
        <div class="text-center">
            2021 &copy; 新乡学院-计算机与信息工程学院.
            <a href="#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
            <p class="text-center">软件工程</p>
        </div>
    </footer>
    <!--页脚-->
</section>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="/assets/jquery-knob/js/jquery.knob.js"></script>
<script src="/js/respond.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap-fileupload/bootstrap-fileupload.js"></script>
<script src="/js/slidebars.min.js"></script>
<script src="/js/common-scripts.js"></script>
<script src="/js/information.js"></script>
</body>
</html>
