<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="用户登录页面">
    <meta name="author" content="meishiqiang">
    <meta name="keyword" content="新星,Xinxing,幼儿园,登录,工作,找工作,教师">
    <link rel="shortcut icon" href="/img/ico/favicon32.png">
    <title>登录</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-reset.css" rel="stylesheet">
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet"/>

</head>
<body class="login-body">
<div class="container">
    <form class="form-signin" id="loginForm" method="post">
        <h2 class="form-signin-heading">立即登入</h2>
        <div class="login-wrap">
            <input type="text" hidden="hidden" name="liushui">
            <input type="text" class="form-control" name="yhu" placeholder="手机号/邮箱" required autofocus>
            <input type="password" class="form-control" name="pass" placeholder="密码" required>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> 记住我
                <span class="pull-right">
                    <a data-toggle="modal" href="#myModal"> 忘记密码</a>
                </span>
            </label>
            <button class="btn btn-lg btn-login btn-block" type="submit">登录</button>

            <div class="registration">
                还没有帐号？
                <a class="" th:href="'/register.html'">
                    创建一个帐户
                </a>
            </div>
        </div>
    </form>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/formSubmit.js"></script>
</body>
</html>
