<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="新星幼儿园-招聘网站首页">
    <meta name="author" content="meishiqiang">
    <meta name="keyword" content="幼儿园，招聘，招聘网，新星，首页">
    <link rel="shortcut icon" href="/img/favicon.png">
    <title>新星幼儿园-招聘网</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-reset.css" rel="stylesheet">
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="/css/yamm.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet"/>
</head>

<body class="mega-nav">
<section id="container">
    <!--头部 导航栏-->
    <header class="">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-sm" href="http://www.bootcss.com">新星幼儿园</a>
                </div>
                <div class="navbar-collapse collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        <li class="active"><a th:href="'/index'" target="_blank">首页</a></li>
                        <li><a th:href="'/job_detail'" target="_blank">职位</a></li>
                        <li><a th:href="'/discover'" target="_blank">发现</a></li>
                        <li><a th:href="'/information'" target="_blank">咨询</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right hidden-sm">
                        <li><a th:href="'/resume'">简历</a></li>
                        <li><a th:href="'/consumer/personal/1'">个人中心</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--头部-->
    <section>
        <!--标题内容 是否过期|名称|月薪|地址|经验|学历|分类信息|关键词-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <p>招聘进行时</p>
                    <div class="flex">
                        <h1>招聘标题！！！！<em>薪资。发薪月份</em></h1>
                        <button>沟通。招聘人员姓名</button>
                    </div>
                    <p><span>地点</span>.<span>经验</span>.<span>学历</span></p>
                    <div class="flex">
                        <p>分类 | 关键词 | 信息</p>
                        <span>
                            <p><i></i><span>完善简历</span></p>
                            <p><i></i><span>新建简历</span></p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div>
                <div>
                    <h4>职位描述</h4>
                    <div>
                        <p>1.职位描述要位要求</p>
                        <p>2.职位描述职位描述职位描述职位描述职位描述</p>
                        <p>3.职位描述职位描述职位描述</p>
                        <p>2.职位描述职位描述职位描述职位描述职位描述</p>
                        <p>3.职位描述职位描述职位描述</p>
                    </div>
                </div>
                <div>
                    <h4>职位要求</h4>
                    <div>
                        <p>1.职位要求职位要求职位要求职位要求</p>
                        <p>2.职位要求要求职位要求</p>
                        <p>3.职位要求职位要求职位要求职位要求职位要求</p>
                    </div>
                </div>
                <div>
                    <h4>待遇.福利</h4>
                    <div>
                        <p>1.利福待遇待遇待遇利福利福利待</p>
                        <p>2.福遇待遇待遇</p>
                        <p>3.福利福利福利福利福利福利福利</p>
                    </div>
                </div>
                <div>
                    <h4>待遇.福利</h4>
                    <div>
                        工作地址
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>